---
layout: default
permalink: blog
---

<section>
  <div class="flex flex-col w-full sm:p-4 justify-center">
    <header class="blog_header flex flex-col items-center w-full mb-6">
      <div>🖖 
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/blog">Write</a> | <a href="/days">Days</a> | <a href="/textmessage">Orgma
      </div>
       <span class="blog_separator w-12 h-1 mt-6"></span>
    </header>
  </div>
  <h2>Writing →</h2>

  {% for post in site.posts %}
    {% assign nth = forloop.index0 | modulo:2 %}
    <div class="media t-hackcss-media">
      <div class="media-body">
        <div class="media-heading">
          <span>{{ post.date | date_to_string }} &raquo;
            {% if post.external_url %}
              <a href="{{ post.external_url }}" target="_blank" title="{{ project.name }}">
                {{ post.title }}
              </a>
            {% else %}
              <a href="{{ post.url | prepend: site.baseurl }}" title="{{ project.name }}">
                {{ post.title }}
              </a>
            {% endif %}
          </span>
        </div>
        <div class="media-content">
          {{ post.short_description }}
        </div>
      </div>
    </div>
  {% endfor %}
</section>

