---
layout: default
---
<main class="min-h-screen min-w-full flex flex-col items-center py-8 p-4">
  <div class="flex flex-col w-full sm:p-4 justify-center">
    <header class="blog_header flex flex-col items-center w-full mb-6">
      <img srcset="/images/logo.jpg" class="rounded-full w-24 h-24" loading="lazy" src="/images/logo.jpg" />
      <author class="prose prose-stone dark:prose-invert text-2xl mt-6 font-bold">🫧BubbleBear’ blog</author>
      <span class="blog_separator w-12 h-1 mt-8"></span>
      <div class="prose prose-lg dark:prose-invert prose-a:font-normal w-full leading-snug sm:leading-relaxed max-w-2xl text-center mt-6">
        <div>🥖Best favorite:Swimming and Cycling 🍞Best at: Unlimited fantasy and Lying on the sofa 🍩Best love: Sleep more while young🥯Best interesting: Work all day, but happy my time in night <br></div>
     </div>
     <div>🖖 
       <a href="/">Home</a> | <a href="/about">About</a> | <a href="/blog">Write</a> | <a href="/days">Days</a> | <a href="/textmessage">Orgma</a>
     </div>
     <span class="blog_separator w-12 h-1 mt-6"></span>
   </header>
<article class="min-h-screen min-w-full flex flex-col items-center py-8 p-4" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}"
            itemprop="datePublished"
            class="media-heading">
        {{ page.date | date: "%b %-d, %Y" }}
      </time>

      {% if page.author %}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span>
        </span>
      {% endif %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
</main>
